{% extends "base.html" %} 
{% load static %}
{% load i18n %}
{% block title %}
  kquires | {% trans 'Password Reset'%}
{% endblock title %}
{% block content %} 
{% include "pages/layout/navbar.html" %}
{% load custom_tags %}
<style>
  .form-section {
    background-color: #fff;
    padding: 20px;
   
    border-radius: 10px;
  }
  .profile-card {
    text-align: center;
    background-color: #fff;
    padding: 20px;
   
    border-radius: 10px;
  }
  .profile-card img {
    border-radius: 50%;
    max-width: 150px;
    margin-bottom: 10px;
  }
</style>
<div class="container my-5">
  <div class="row">

    <!-- Profile Card Section -->
    <div class="col-md-3">
      <div class="profile-card text-center p-3 border rounded shadow-sm" style="background-color: #f9f9f9;">
        <!-- Profile Image -->
        <img
          src="{% static 'images/sheikh.svg' %}"
          alt="{% trans 'Profile Image' %}" class="rounded-circle shadow" style="width: 150px; height: 150px; object-fit: cover;">
    
        <!-- List with Icons and Text -->
        <ul class="list-unstyled text-start">
          <!-- Main Information -->
          <li class="d-flex align-items-center justify-content-between border-bottom py-2">
            <a href="{% url 'users:profile' %}" 
              class="text-decoration-none d-flex align-items-center {% is_active 'users:profile' as active %}{% if active %} text-a94bea {% else %} text-dark {% endif %}">
                <img
                    src="{% static 'images/tableruser.svg' %}"
                    alt="{% trans 'Main Info Icon' %}"
                    class="me-2 {% if active %} icon-a94bea {% endif %}"
                />
                <span>{% trans 'Main Information' %}</span>
            </a>

          </li>
          
          <!-- Change Password -->
          <li class="d-flex align-items-center justify-content-between border-bottom py-2">
            <a href="{% url 'users:password_reset' %}" 
                class="text-decoration-none d-flex align-items-center {% is_active 'users:password_reset' as active %}{% if active %} text-a94bea {% else %} text-dark {% endif %}">
                <img
                    src="{% static 'images/lock.svg' %}"
                    alt="{% trans 'Change Password Icon' %}"
                    class="me-2 {% if active %} icon-a94bea {% endif %}"
                />
                <span>{% trans 'Change Password' %}</span>
            </a>
            
          </li>
    
          <!-- Support -->
          <li class="d-flex align-items-center justify-content-between py-2">
            <a href="{% url 'tickets:my_list' %}" 
              class="text-decoration-none d-flex align-items-center {% is_active 'tickets:my_list' as active %}{% if active %} text-a94bea {% else %} text-dark {% endif %}">
                <img
                    src="{% static 'images/customersupport.svg' %}"
                    alt="{% trans 'Support Icon' %}"
                    class="me-2 {% if active %} icon-a94bea {% endif %}"
                />
                <span>{% trans 'Support' %}</span>
            </a>

          </li>
        </ul>
      </div>
    </div>
    <!-- Form Section -->
    <div class="col-md-9">
      <div class="form-section">
        <h4 class="text-center">{% trans 'Personal Information' %}</h4>
        <p class="text-center text-muted">
          {% trans 'Only the system administrator can update the basic information of users' %}
        </p>
        <form method="POST" action="{% url 'users:password_reset' %}">
          {% csrf_token %}
            <div class="row" >
                <!-- Old Password -->
                <div class="mb-3 col-md-12">
                    <label for="old_password" class="col-form-label form-label ">{% trans 'Old Password' %}</label>
                    <div>
                        <input required
                            type="password"
                            class="form-control "
                            id="old_password"
                            name="old_password"
                            placeholder="{% trans 'Enter your old password' %}"
                        />
                    </div>
                </div>
            
                <!-- New Password -->
                <div class="mb-3 col-md-6">
                    <label for="new_password" class="col-form-label form-label ">{% trans 'New Password' %}</label>
                    <div>
                        <input required
                            type="password"
                            class="form-control "
                            id="new_password"
                            name="new_password"
                            placeholder="{% trans 'Enter your new password' %}"
                        />
                    </div>
                </div>
            
                <!-- Confirm Password -->
                <div class="mb-3 col-md-6">
                    <label for="confirm_password" class="col-form-label form-label ">{% trans 'Confirm Password' %}</label>
                    <div>
                        <input required
                            type="password"
                            class="form-control "
                            id="confirm_password"
                            name="confirm_password"
                            placeholder="{% trans 'Confirm your new password' %}"
                        />
                    </div>
                </div>
            
                <!-- Submit Button -->
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                </div>
            </div>
            
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock content %}
