# General
# ------------------------------------------------------------------------------
USE_DOCKER=yes
IPYTHONDIR=/app/.ipython

# Redis
# ------------------------------------------------------------------------------
REDIS_URL=redis://redis:6379/0

# Celery
# ------------------------------------------------------------------------------

# Flower
CELERY_FLOWER_USER=your_flower_username
CELERY_FLOWER_PASSWORD=your_flower_password

DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,your-domain.com
