{% extends "pages/layout/sidebar.html" %}
{% load static %}
{% load i18n %}
{% block title %}
      kquires | {% trans 'Tickets List'%}
    {% endblock title %}
{% block content %}
<style>
.form-section {
    background-color: #fff;
    padding: 20px;

    border-radius: 10px;
  }
  .profile-card {
    text-align: center;
    background-color: #fff;
    padding: 20px;

    border-radius: 10px;
  }
  .profile-card img {
    border-radius: 50%;
    max-width: 150px;
    margin-bottom: 10px;
  }
  .custom-table {

    border-radius: 8px;
    overflow: hidden;
}
.custom-table thead {
    background-color: #f1f5f9;
}
.custom-table tbody tr {
    background-color: #ffffff;
}
.custom-table tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}
.new-ticket-btn {
    margin-top: 10px;
}
.header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa; /* Background color */
    padding: 10px;
    /* Border for layout visibility */
}

.btn-new {
    background-color: #007bff; /* Blue background */
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.btn-new:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.search-bar input {
    width: 300px;
    padding: 8px;

    border-radius: 4px;
}

.btn-categories {
    background-color: #f1f1f1;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

</style>
<div class="d-flex align-items-center justify-content-between bg-light p-2">
    <div class="text-center" style="font-size: 20px; color:black; font-weight: bold; cursor: pointer;">
        {% trans "Tickets" %}
    </div>

    {% comment %} <div class="search-bar mx-auto" style="width: 300px; position: relative;">
        <input
          type="text"
          class="form-control form-control-sm ps-6 pe-5"
          placeholder="{% trans 'Search' %}"
        />
        <img
          src="{% static 'images/searchb.svg' %}"
          alt="{% trans 'Search Icon' %}"
          class="position-absolute top-50 translate-middle-y end-0"
          style="width: 20px; height: 20px;"
        />
      </div> {% endcomment %}
</div>

<!-- Container to align table with the above div -->
<div class="container-fluid mt-3">
    <div class="form-section">
      <form>
          <div class="row">
              <div class="custom-table">
                  <table class="table text-center">
                      <thead>
                          <tr>
                              <th scope="col">{% trans "Ticket Number" %}</th>
                              <!-- <th scope="col">{% trans "Category" %}</th> -->
                              <th scope="col">{% trans "Title" %}</th>
                              <th scope="col">{% trans "By" %}</th>
                              <th scope="col">{% trans "Status" %}</th>
                              <th scope="col">{% trans "Preview" %}</th>
                              <th scope="col">{% trans "Date Added" %}</th>
                              <th scope="col">{% trans "Approve/Reject" %}</th>
                              <th scope="col">{% trans "Action" %}</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for ticket in tickets %}
                            <tr>
                                <td>{{ticket.id}}</td>
                                <!-- <td>{{ticket.category.name}}</td> -->
                                <td>{{ticket.title}}</td>
                                <td>{{ticket.user.name}}</td>
                                <td>
                                    {% if ticket.status == 'approved' %}
                                        {% trans "solved" %}
                                    {% else %}
                                        {% trans ticket.status|default:"pending" %}
                                    {% endif %}
                                </td>
                                

                                <td>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <a href="javascript:void(0);" class=" d-flex align-items-center me-2" onclick="fetchTicketDetails({{ ticket.id }})">
                                            <img src="{% static 'images/showfile.svg' %}" alt="{% trans 'Preview' %}" >

                                        </a>
                                    </div>
                                </td>
                                <td>{{ticket.created_at}}</td>
                                <td>
                                    <div>
                                        {% if ticket.status == 'solved' %}
                                            <a href="javascript:void(0);"
                                               data-id="{{ ticket.id }}"
                                               data-status="pending"
                                               data-bs-toggle="modal"
                                               data-bs-target="#statusUpdateModal"
                                               onclick="setStatusModalData({{ ticket.id }}, 'pending')">
                                                <img src="{% static 'images/tick.svg' %}" alt="{% trans 'Reject' %}" class="ms-2">
                                            </a>
                                        {% else %}
                                            <a href="javascript:void(0);"
                                               data-id="{{ ticket.id }}"
                                               data-status="solved"
                                               data-bs-toggle="modal"
                                               data-bs-target="#statusUpdateModal"
                                               onclick="setStatusModalData({{ ticket.id }}, 'solved')">
                                                <img src="{% static 'images/cross.svg' %}" alt="{% trans 'solved' %}" class="ms-2">
                                            </a>
                                        {% endif %}
                                    </div>
                                </td>

                                <td>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <a href="javascript:void(0);" class="btn btn-primary d-flex align-items-center me-2" onclick="fetchTicketDetails({{ ticket.id }})">
                                            <img src="{% static 'images/edit.svg' %}" alt="{% trans 'Edit' %}" >
                                            {% trans "Edit" %}
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                      </tbody>
                  </table>
                  <div class="d-flex justify-content-start align-items-center mb-3">
                    <label for="limit-select" class="form-label me-2">{% trans "Items per page" %}:</label>
                    <select id="limit-select" class="form-select w-auto" onchange="changeLimit()">
                        <option value="10" {% if request.GET.page_size == "10" %}selected{% endif %}>10</option>
                        <option value="20" {% if request.GET.page_size == "20" %}selected{% endif %}>20</option>
                        <option value="50" {% if request.GET.page_size == "50" %}selected{% endif %}>50</option>
                        <option value="100" {% if request.GET.page_size == "100" %}selected{% endif %}>100</option>
                    </select>
                </div>
                   <!-- Pagination Controls -->
                   <nav aria-label="Page navigation">
                    <ul class="pagination d-flex justify-content-center">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1" aria-label="{% trans 'First' %}">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">&laquo;</span>
                            </li>
                        {% endif %}

                        {% for page_num in page_obj.paginator.page_range %}
                            {% if page_num == page_obj.number %}
                                <li class="page-item active">
                                    <span class="page-link">{{ page_num }}</span>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="{% trans 'Last' %}">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">&raquo;</span>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
              </div>
          </div>
      </form>
    </div>
</div>

{% include 'tickets/partials/form.html' %}

<script>
    function fetchTicketDetails(ticketId) {
      fetch(`{% url 'tickets:ticket_detail_api' '000' %}`.replace('000', ticketId))
      .then(response => {
          if (!response.ok) {
              throw new Error(`HTTP error! Status: ${response.status}`);
          }
          return response.json();
      })
      .then(data => {

          // Populate modal fields with fetched data
          document.getElementById('id').value = data.id;
          document.getElementById('title').value = data.title;
          document.getElementById('description').value = data.description;

        //   // Set the correct <select> option for category
        //   const categorySelect = document.getElementById('category');
        //   const options = categorySelect.options;

        //   for (let i = 0; i < options.length; i++) {
        //       if (options[i].text === data.category || options[i].value === data.category) {
        //           // Match category by text (name) or value (ID)
        //           categorySelect.selectedIndex = i;
        //           break;
        //       }
        //   }

          // Show the modal
          const modal = new bootstrap.Modal(document.getElementById('newTicketModal'));
          modal.show();
      })
      .catch(error => console.error('Error fetching ticket details:', error));

  }
  function setStatusModalData(targetId, status) {
    const form = document.getElementById('statusUpdateForm'); // Assuming your form ID is 'statusUpdateForm'
    const actionUrl = `{% url 'tickets:status' '000' %}`.replace('000', targetId); // Replace 'articles:status' with 'tickets:status'
    form.action = actionUrl;

    // Add status as a hidden input in the form
    let statusInput = form.querySelector('input[name="status"]');
    if (!statusInput) {
        statusInput = document.createElement('input');
        statusInput.type = 'hidden';
        statusInput.name = 'status';
        form.appendChild(statusInput);
    }
    statusInput.value = status;
}




  </script>
{% endblock content %}
