{% load static %}
{% load i18n %}
<style>
.arrow-div{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5px;
}
.chat-align{
    display: flex;
    justify-content: center;
    text-align: center;
}
</style>
<div class="row">

    <div class="custom-table">
        <div class="table-responsive">
        <table class="table table-sm text-center">
            <thead>
                <tr>
                    <th scope="col">
                        <div class="arrow-div"></div>
                        {% trans "Title" %}

                        <a href="{% url 'articles:list' %}?sort_by=title&sort_type=asc" class="sort-icons" style="color: black !important;text-decoration: none;">
                            <img src="{% static 'images/up_arrow.svg' %}" alt="up_arrow" class="" style="width: 9px; height: 9px;">
                         </a>
                        <a href="{% url 'articles:list' %}?sort_by=title&sort_type=desc" class="sort-icons" style="color: black !important;text-decoration: none;">
                            <img src="{% static 'images/down_arrow.svg' %}" alt="down_arrow" class="" style="width: 9px; height: 9px;">
                        </a>
                    </div>
                    </th>
                    <th scope="col">
                        <div class ="arrow-div">
                    {% trans "Publication Dates" %}
                    <a href="{% url 'articles:list' %}?sort_by=created_at&sort_type=asc" class="sort-icons" style="color: black !important;text-decoration: none;">
                        <img src="{% static 'images/up_arrow.svg' %}" alt="up_arrow" class="" style="width: 9px; height: 9px;">
                     </a>
                    <a href="{% url 'articles:list' %}?sort_by=created_at&sort_type=desc" class="sort-icons" style="color: black !important;text-decoration: none;">
                       <img src="{% static 'images/down_arrow.svg' %}" alt="down_arrow" class="" style="width: 9px; height: 9px;">
                    </a>
                </div>
                    </th>
                    <th scope="col">
                        <div class="arrow-div">
                        {% trans "Status" %}

                        <a href="{% url 'articles:list' %}?sort_by=status&sort_type=asc" class="sort-icons" style="color: black !important;text-decoration: none;">
                            <img src="{% static 'images/up_arrow.svg' %}" alt="up_arrow" class="" style="width: 9px; height: 9px;">
                         </a>
                        <a href="{% url 'articles:list' %}?sort_by=status&sort_type=desc" class="sort-icons" style="color: black !important;text-decoration: none;">
                           <img src="{% static 'images/down_arrow.svg' %}" alt="down_arrow" class="" style="width: 9px; height: 9px;">
                        </a>
                        </div>

                    </th>
                    <th scope="col"><div class="arrow-div">{% trans "Comment" %}</div></th>
                    <!-- <th scope="col">
                        {% trans "Visibility" %}

                    </th> -->
                    <th scope="col">
                        <div class="arrow-div">
                        {% trans "By" %}
                        <a href="{% url 'articles:list' %}?sort_by=user&sort_type=desc" class="sort-icons" style="color: black !important;text-decoration: none;">
                            <img src="{% static 'images/up_arrow.svg' %}" alt="up_arrow" class="" style="width: 9px; height: 9px;">
                         </a>
                        <a href="{% url 'articles:list' %}?sort_by=user&sort_type=asc" class="sort-icons" style="color: black !important;text-decoration: none;">
                            <img src="{% static 'images/down_arrow.svg' %}" alt="down_arrow" class="" style="width: 9px; height: 9px;">
                        </a>
                        </div>
                    </th>
                    <th scope="col">{% trans "Actions" %}</th>
                    <th scope="col">{% trans "Approve/Reject" %}</th>
                    <!-- <th scope="col">{% trans "Hide/Show" %}</th> -->
                    <th scope="col">{% trans "Attachment" %}</th>
                </tr>
            </thead>
            <tbody>
              <!-- Example of dynamic rows -->
              {% for article in articles %}
                <tr onclick="handleRowClick(event, {{ article.id }})">
                    <td>{{article.title}}</td>
                    <td>{{article.created_at}}</td>
                    <td>{% trans article.status|default:"pending" %}</td>

                    <td>
                        <div class="chat-align">
                        {% if article.comment  %}
                        <a href=""
                        data-id="{{ article.id }}"
                         data-comment="{{ article.comment }}"
                        data-bs-toggle="modal"
                        data-bs-target="#showCommentModal"
                        class="text-primary d-flex align-items-center  show-comment" >
                        <img src="{% static 'images/comment.svg' %}" alt="{% trans 'Show' %}" class="ms-2" style="width: 20px; height: 20px;">
                        </a>
                        {% else %}
                        <img src="{% static 'images/comment_disable.svg' %}" alt="{% trans 'Show' %}" class="ms-2" style="width: 20px; height: 20px;">
                        {% endif %}
                    </div>
                    </td>
                    <!-- <td>{{article.visibility|default:_('False')}}</td> -->
                    <td>{{ article.user.name|default:_('User') }}</td>
                    <td>
                      <div class="d-flex align-items-center justify-content-center">
                          <a href="javascript:void(0);" class="btn btn-primary d-flex align-items-center me-2">
                              <img src="{% static 'images/edit.svg' %}" alt="{% trans 'Edit' %}" >
                              {% trans "Edit" %}
                          </a>
                          {% if request.user.is_admin %}
                          <a href="javascript:void(0);"
                              data-id="{{ article.id }}"
                              data-bs-toggle="modal"
                              data-bs-target="#deleteConfirmationModal"
                              class="text-primary d-flex align-items-center"
                              onclick="setDeleteFormAction({{ article.id }})">
                                  <img src="{% static 'images/delete.svg' %}" alt="{% trans 'Delete' %}">
                              </a>
                              {% endif %}
                      </div>
                  </td>
                  <td class="no-modal">
                      <div>
                        {% if article.status == 'approved' %}
                          <a href="javascript:void(0);"
                              data-id="{{ article.id }}"
                              data-status="inactive"
                              data-bs-toggle="modal"
                              data-bs-target="#statusUpdateModal"
                              class=""
                              onclick="setStatusModalData({{ article.id }}, 'rejected')">
                              <img src="{% static 'images/tick.svg' %}" alt="{% trans 'Reject' %}" class="ms-2" >
                          </a>
                          {% else %}
                          <a href="javascript:void(0);"
                              data-id="{{ article.id }}"
                              data-status="active"
                              data-bs-toggle="modal"
                              data-bs-target="#statusUpdateModal"
                              class=""
                              onclick="setStatusModalData({{ article.id }}, 'approved')">
                              <img src="{% static 'images/cross.svg' %}" alt="{% trans 'Approve' %}" class="ms-2" >
                          </a>
                          {% endif %}
                      </div>
                  </td>

                  <!-- <td>
                    {% if article.visibility %}
                    <a href="javascript:void(0);"
                    data-id="{{ article.id }}"
                    data-visibility="False"
                    data-bs-toggle="modal"
                    data-bs-target="#visibilityToggleModal"
                    class=""
                    onclick="setVisibilityModalData({{ article.id }}, 'False')">
                    <img src="{% static 'images/show.svg' %}" alt="{% trans 'Hide' %}" class="ms-2" style="width: 20px; height: 20px;">
                     </a>

                        {% else %}

                      <a href="javascript:void(0);"
                      data-id="{{ article.id }}"
                      data-visibility="True"
                      data-bs-toggle="modal"
                      data-bs-target="#visibilityToggleModal"
                      class=""
                      onclick="setVisibilityModalData({{ article.id }}, 'True')">
                      <img src="{% static 'images/hide.svg' %}" alt="{% trans 'Show' %}" class="ms-2" style="width: 20px; height: 20px;">
                  </a>
                      {% endif %}
                  </td> -->
                  <td class="no-modal">
                    {% if article.attachment %}
                    <a href="{{ article.attachment.url }}" download>
                        <img src="{% static 'images/download.svg' %}" alt="{% trans 'download' %}" class="ms-2" style="width: 20px; height: 20px;">
                    </a>
                    {% else %}
                       <img src="{% static 'images/download_disabled.svg' %}" alt="{% trans 'download' %}" class="ms-2" style="width: 20px; height: 20px;">
                     {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-start align-items-center mb-3">
          <label for="limit-select" class="form-label me-2">{% trans "Items per page" %}:</label>
          <select id="limit-select" class="form-select w-auto" onchange="changeLimit()">
              <option value="10" {% if request.GET.page_size == "10" %}selected{% endif %}>10</option>
              <option value="20" {% if request.GET.page_size == "20" %}selected{% endif %}>20</option>
              <option value="50" {% if request.GET.page_size == "50" %}selected{% endif %}>50</option>
              <option value="100" {% if request.GET.page_size == "100" %}selected{% endif %}>100</option>
          </select>
      </div>
    </div>
         <!-- Pagination Controls -->
         <nav aria-label="Page navigation">
          <ul class="pagination d-flex justify-content-center">
              {% if page_obj.has_previous %}
                  <li class="page-item">
                      <a class="page-link" href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page=1" aria-label="{% trans 'First' %}">
                          <span aria-hidden="true">&laquo;</span>
                      </a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a>
                  </li>
              {% else %}
                  <li class="page-item disabled">
                      <span class="page-link">&laquo;</span>
                  </li>
              {% endif %}

              {% for page_num in page_obj.paginator.page_range %}
                  {% if page_num == page_obj.number %}
                      <li class="page-item active">
                          <span class="page-link">{{ page_num }}</span>
                      </li>
                  {% else %}
                      <li class="page-item">
                          <a class="page-link" href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ page_num }}">{{ page_num }}</a>
                      </li>
                  {% endif %}
              {% endfor %}

              {% if page_obj.has_next %}
                  <li class="page-item">
                      <a class="page-link" href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}page={{ page_obj.paginator.num_pages }}" aria-label="{% trans 'Last' %}">
                          <span aria-hidden="true">&raquo;</span>
                      </a>
                  </li>
              {% else %}
                  <li class="page-item disabled">
                      <span class="page-link">&raquo;</span>
                  </li>
              {% endif %}
          </ul>
      </nav>
    </div>
</div>
<script>
  function changeLimit() {
      var limit = document.getElementById('limit-select').value;
      var currentUrl = new URL(window.location.href);
      
      // Preserve existing query parameters
      currentUrl.searchParams.set('page_size', limit);
      currentUrl.searchParams.delete('page'); // Reset to first page when changing limit
      
      window.location.href = currentUrl.toString();
  }

  function handleRowClick(event, articleId) {
      // Prevent modal from opening if clicking on Approve/Reject, Attachment, or Delete link
      if (event.target.closest('.no-modal') || event.target.closest('[data-bs-target="#deleteConfirmationModal"]')) {
          return;
      }
      // Stop event propagation to prevent multiple triggers
      event.stopPropagation();
      // Trigger the edit modal
      fetchArticleDetails(articleId);
  }
</script>